@use "../styles/_variables" as *;
@use "../styles/_mixins" as *;

.screen-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 1rem;
  margin-bottom: 1rem;
}

.screen {
  width: 80%;
  height: 1rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}

.label {
  margin-top: 0.5rem;
  font-size: $font-lg;
  font-weight: 700;
  letter-spacing: 0.4em;
  color: $color-text-secondary;
  text-transform: uppercase;
}

.glow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    transparent
  );
  mask-image: linear-gradient(to bottom, black, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  pointer-events: none;
}
