@use "../styles/_variables" as *;
@use "../styles/_mixins" as *;

.seats-section {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include lg {
    flex: 1;
  }
}

.screen-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
}

.seat-map-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.seat-grid {
  display: grid;
  gap: 0.375rem;
  justify-items: center;
  align-items: center;
  width: fit-content;

  @include sm {
    gap: 0.5rem;
  }
}

.seat-wrapper {
  &.couple {
    justify-self: start;
  }
}
