@use "./styles/_variables" as *;
@use "./styles/_mixins" as *;

.app {
  min-height: 100vh;
  background-color: $color-background;
  font-family: sans-serif;
  color: $color-text;
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;

  ::selection {
    background-color: rgba($color-primary, 0.3);
  }
}

.main {
  flex: 1;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  overflow-x: hidden;

  @include sm {
    padding: 0 1rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  margin-bottom: 2rem;

  @include lg {
    flex-direction: row;
  }
}

.controls-section {
  width: 100%;
  flex-shrink: 0;

  @include lg {
    width: 24rem;
  }
}

.legend-wrapper {
  // Animation handled by Framer Motion
  width: 100%;
}

.terms {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 1rem;

  p {
    color: $color-text-secondary;
    font-size: $font-xs;
    line-height: 1.6;
    max-width: 24rem;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    opacity: 0.5;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
}

.modal-content {
  background-color: #1a1a1a;
  border-radius: 1rem;
  width: 100%;
  max-width: 50rem;
  max-height: 80vh;
  overflow-y: auto; // Giữ lại tính năng cuộn
  margin-top: -5rem;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.5),
    0 10px 10px -5px rgba(0, 0, 0, 0.4);

  // --- Đoạn code để ẩn scrollbar ---
  scrollbar-width: none; // Cho Firefox
  -ms-overflow-style: none; // Cho Internet Explorer và Edge cũ

  &::-webkit-scrollbar {
    display: none; // Cho Chrome, Safari và Edge mới (Chromium)
  }
}
